body {
  margin: 2rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #457b9d;
}

.flex-container {
  display: flex;
  max-width: 800px;
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

#drag-view {
  background-color: #1d3557;
  padding: 2rem 1rem;
}

.drag-item {
  border-radius: 10px;
  background-color: white;
  padding: 2rem 3rem;
  margin: .5rem 1rem .5rem;
  font-size: 1.5rem;
  transition: margin 300ms;
}

.drag-item--dragging {
  background-color: #a8dadc;
  color: gray;
  opacity: 0.999; /* for edges */
}

.drag-item--over {
  margin-bottom: 2rem;
}

.text-area {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
}

#valid-message {
  position: absolute;
  z-index: 2;
  display: flex;
  background: #2a9d8f;
  padding: 1rem 2rem;
  justify-content: space-between;
}

button {
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}
